.-------------Base-styles-opinionated-defaults------------{}
.-------------------------------------------------------{}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color:rgba(0,0,0,0.4);
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
a{
    text-decoration:none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
    margin: 0;
    background:url("../img/girl1.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: "微软雅黑 Light";
    transition: all 0.8s;
    overflow: hidden;
}

.screen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100vh;
}


/* ------------------桌面应用 -----------------------*/
.app_items{height:80px;width:70px;
    position:absolute;border:none;margin: 5px;}
.app_items:hover{background: rgba(150,205,205,0.2);outline:1px solid rgba(150,205,205,1);}
.app_items p{text-align: center;margin: 0;color:white;text-shadow:0 0 3px #000;padding:2px;font-size: 14px;}
.app_items img{height:45px;width:45px;margin-top:5px;margin-left:11px;margin-right:10px;}
#seven_heros.app_items{
    top:0;left:0;
}
/* -----------------进度条--------------- */
.progress{
    width: 100%;
    height: 100vh;
    position: relative;
    left: 0;top: 0;right: 0;bottom: 0;
    margin:auto;
    background:#000;
    z-index:10;
    text-shadow:0 0 15px rgba(0,198,255,0.7);
}
.progress #start_button{
    position:absolute;
    opacity: 0;
    bottom:25%;
    left:46.3%;
    width:100px;
    height:30px;
    font-size:15px;text-align: center;
    color:rgba(0,198,255,0.7);
    border:2px solid rgba(0,198,255,0.7);
    background:black;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    text-shadow:0 0 15px rgba(0,198,255,0.7);
}
.progress #start_button:hover{
    box-shadow:0 0 20px 1px rgba(0,198,255,0.8);
    text-shadow:0 0 25px rgba(0,198,255,1);
}
.progressbar{
    position: absolute;
    width:0;
    top:59%;
    height:1px;
    margin:2px 0;
    background:#2187e7;
    transition:all .5s linear;
    box-shadow:0 0 15px 2px rgba(0,198,255,0.7);
}
.progresstext{
    position: absolute;
    bottom: 33%;
    right: 47%;
    color:rgba(0,198,255,0.7);
    font-size:15px;
}

/* --------------- 进度条上方文字动画 ----------------- */

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(33,135,231);
    text-shadow: 0 0 30px rgb(33,135,231);
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 4px;
    font-size: 40px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

span {
    display: inline-block;
}

.reg-text {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition: opacity 5s ease, -webkit-transform 3.33333s ease-out;
    transition: opacity 5s ease, -webkit-transform 3.33333s ease-out;
    transition: transform 3.33333s ease-out, opacity 5s ease;
    transition: transform 3.33333s ease-out, opacity 5s ease, -webkit-transform 3.33333s ease-out;
}
.reg-text.loaded {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.letter {
    -webkit-transition: opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
    transition: opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
    transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease;
    transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.letter:nth-of-type(2) {
    -webkit-transform: translateY(-160px);
    transform: translateY(-160px);
    -webkit-transition-duration: 2.0s;
    transition-duration: 2.0s;
}
.letter:nth-of-type(3) {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateY(-170px);
    transform: translateY(-170px);
    -webkit-transition-duration: 2.24615s;
    transition-duration: 2.24615s;
}
.letter:nth-of-type(4) {
    -webkit-transform: translateY(-220px);
    transform: translateY(-220px);
    -webkit-transition-duration: 2.33333s;
    transition-duration: 2.33333s;
}
.letter:nth-of-type(5) {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    -webkit-transition-duration: 2.5s;
    transition-duration: 2.5s;
}
.letter:nth-of-type(6) {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateY(-180px);
    transform: translateY(-180px);
    -webkit-transition-duration: 2.77391s;
    transition-duration: 2.77391s;
}
.letter.loaded {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-filter: blur(0);
    filter: blur(0);
}



/*----------- dock面板 -----------*/
.dock {
    display:flex;
    position: absolute;
    flex-wrap: nowrap;
    justify-content: left;
    align-content: left;
    align-items: left;
    background-color: rgba(5,5,5,0.9);
    opacity: 1;
    transition: opacity 0.5s;
}
.dock > div {
    width: 48px;
    height:40px;
    margin:0;
    position: relative;
    z-index: 1;
}
.dock.bottom > div{border-bottom:2px solid lightblue;margin-right:4px;float:left;display:block;}
.dock.bottom >div.bottom_search{
    width:345px;
    height:40px;
    display:block;
}
.dock.right div.bottom_search,.dock.left div.bottom_search{
    display:none;
}
.dock.bottom div.bottom_search{border:none!important;margin-right: 0!important;position:relative;}
.dock.bottom .search_mask{width:100%;height:100%;background: rgb(51,51,51);position:absolute;z-index:2;}
.dock.bottom .search_mask::after{
    content: "搜索 Web 和 Windows";
    color:rgb(137,137,137);
    position:absolute;
    left:9px;
    top:12px;
    font-size:14px;
    font-weight:bold;
    display: block;
}
.dock.bottom .search_mask:hover{background: rgb(76,76,76);}
.dock.bottom .bottom_search input{
    width:100%;height:100%;
    position:absolute;
}

.dock > div:hover{
    background-color:rgba(255,255,255,0.3);
}
.dock.bottom > div > img {
    width: 25px;
    height:25px;
    transition: all .3s;
    margin:8px 12px;
    position: absolute;z-index:100;
}
.dock > div:hover > img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.dock.hidden {
    opacity: 0;
}
.dock:hover {
    opacity: 1;
}
.dock.right,.dock.left {
    height: 80%;
    width: 55px;
    top:10%;
    flex-direction: column;
}
.dock.right{right:0;}
.dock.left{left:0;}
.dock.right>div,.dock.left>div{
    width:55px;
    height:50px;
}
.dock.right>div>img,.dock.left>div>img{
    width:35px;
    height:35px;
    padding:2px;
    margin:8px 10px;
}

.dock.bottom {
    bottom: 0;right:0;
    height: 41px;
    width: 100%;
}

/*------------------ bing ---------------*/
.internet {
    position: absolute;
    z-index:-1;
    width: 85%;
    left:10%;top:5%;
    height: 80vh;
    border: 3px solid #fff;
    border-radius: 6px;
    background-color: #e0e0e0;
    overflow: scroll;
    opacity: 0;
    transition: opacity .3s ease-out;
}
.internet > iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: scroll;
}
.internet.open {
    opacity: 1;
    position: absolute;
    z-index:2;
    display: block;
}
.internet.bottom {
    z-index: 1;
    filter: blur(20px);
}

.settings {
    /*overflow: auto;*/
    position: relative;
    width: 40.1%;
    height: 80%;
    /*border-right: 1px solid white;*/
    outline: 1px solid black;
    opacity: 0;
    display: none;

}
.settings.open {
    opacity: 1;
    position: absolute;
    z-index:2;
    left: 20px;
    top: 50px;
    display: block;
    height: 80%;
    box-shadow: 0 2px 8px -2px black;
    border-radius: 4px 4px 0 0;
}
.settings.bottom {
    z-index: 1;
    filter: blur(20px);
}

div#leftControlList{
    background:rgb(242,242,242);
}
#content1,#content2{
    /*height:40%;*/
    /*overflow: auto;*/
    background:white;
}
.dock-sliders {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;
    font-size:14px;
}

.app-top-bar {
    width: 100%;
    flex-basis: 100%;
    background-color: #e6e6e6;
}
.settings.app-top-bar{height:70px;}
.internet.app-top-bar{height:40px;}
div.icon-container{width:100%;height:30px;display: block;}
.icon-container .icon-wapper{
    width:50px;
    height:30px;
    float:right;
}
.icon-wapper:hover{background:red;}
img#close-settings{
    width: 15px;
    height:15px;
    margin-left:15px;
    margin-top:5px;
}
img#close-internet{
    float:right;
    width: 15px;
    height:15px;
    margin-right: 5px;
    margin-bottom:5px;
}
img#close-settings:hover {
    background-color: red;
}
div.search-bar{
    width:100%;
    height:40px;
}

.search-bar .search-bar-icon{
    width:40px;
    height:40px;
    background:inherit;
    float: left;
}
.search-bar .search-bar-icon img{
    vertical-align: middle;
    width:23px;
    height:23px;
    margin-left: 9px;
    margin-top: 8px;
}
.search-bar span{float:left;margin-top: 10px;}
.background-img {
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    height: 10%;
    width: 100%;
    border-bottom: 2px solid #fff;
    text-align: center;
}
.background-img h3,.dock-settings h3 {
    width:100%;
    font-size: 24px;
    text-align: left;
    padding:0;
    margin-top:20px;
    margin-bottom:10px;
    color:black;
}
.dock-settings h3{
    padding-top:15px;
}
.imag {
    width: 107px;
    height:95px;
    cursor: pointer;
    overflow: hidden;
    margin:5px;
    transition: all .5s ease;
}
.imag img {
    width: 107px;
    height:95px;
    transition: all .5s ease;
    transform: scale(0.97);
}
.imag.chosen{
    box-shadow:0 0 15px rgb(0,204,107);
}
.imag img:hover {
    transform: scale(1.5);
}
.slider {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    align-content: center;
}
.slider .slider-line {
    width: 40px;
    height: 10px;
    border-radius: 25px;
    background-color: #666;
    transition: all .3s;
}
.slider .slider-circle {
    position: absolute;
    left: 0;
    top:-1px;
    width: 22px;
    height: 22px;
    background-color: #666;
    border: 3px solid #fff;
    border-radius: 50%;
    transition: all .3s;
}
.slider.slider-active .slider-circle {
    left: 20px;
    background-color: rgb(0,204,107);
}
.slider.slider-active .slider-line {
    background-color: rgb(0,204,107);
    border:none;
}

.dock-settings {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:340px;
    overflow: hidden;
}
.dock-settings h4{
    font-size:16px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
